<img  src="asa_logo.png" alt="URI ASA Logo; red paper lantern with the letters ASA beneath it and Asian Student Association" style="width:125px;height:100px;"> <h1 class="color">URI Asian Student Association</h1> 
		
			<h3>Brickley's and Beach Day!</h3>
		<br>

	<div class="gallery">
		    <img src="brickleys1.png" alt="Brickleys Ice Cream" width="400" height="300
		    "> 
		</div>

		<div class="gallery">
		  <img src="brickleys2.png" alt="Brickleys Ice Cream" width="400" height="300
		  ">
		  
		</div>

		<div class="gallery">
		    <img src="brickleys3.png" alt="Brickleys Ice Cream" width="400" height="300
		    "> 
		</div>

		<div class="gallery">
		  <img src="brickleys4.png" alt="Brickleys Ice Cream" width="400" height="300
		  ">
		  
		</div>
		<div class="gallery">
		    <img src="beach1.png" alt="Beach day" width="400" height="300
		    "> 
		</div>

		<div class="gallery">
		  <img src="beach2.png" alt="Beach day" width="400" height="300
		  ">
		 
		</div>
		<div class="gallery">
		    <img src="beach3.png" alt="Beach day" width="400" height="300
		    "> 
		</div>

		<div class="gallery">
		  <img src="beach4.png" alt="Beach day" width="380" height="300
		  ">
		  
		</div>
		
		   <div class ="footer">
			   <p>Website created by Marie Mellor; URI Class of 2023 <br>
			   	<a href="mailto:marie_mellor@uri.edu">marie_mellor@uri.edu</a>
				</p>
			</div>
        <p id="club"></p>