<img  src="ASA_LOGO.png" alt="URI ASA Logo; red paper lantern with the letters ASA beneath it and Asian Student Association" style="width:125px;height:100px;"> <h1 class="color">URI Asian Student Association</h1> 
		
			<h3>Farmers Daughter Trip!</h3>
		<br>
		<div class="gallery">
		    <img src="farmers_daughter1.png" alt="farmers daughter trip" width="370" height="300"> 
		</div>
		<div class="gallery">
		    <img src="farmers_daughter2.png" alt="farmers daughter trip" width="220" height="300"> 
		</div>
		<div class="gallery">
		    <img src="farmers_daughter3.png" alt="farmers daughter trip" width="250" height="300"> 
		</div>
		<div class="gallery">
		    <img src="farmers_daughter4.png" alt="farmers daughter trip" width="250" height="300"> 
		</div>
		<div class="gallery">
		    <img src="farmers_daughter5.png" alt="farmers daughter trip" width="250" height="300"> 
		</div>
		<div class="gallery">
		    <img src="farmers_daughter6.png" alt="farmers daughter trip" width="220" height="300"> 
		</div>
		<div class="gallery">
		    <img src="farmers_daughter7.png" alt="farmers daughter trip" width="370" height="300"> 
		</div>

	
		
		   <div class ="footer">
			   <p>Website created by Marie Mellor; URI Class of 2023 <br>
			   	<a href="mailto:marie_mellor@uri.edu">marie_mellor@uri.edu</a>
				</p>
			</div>
        <p id="club"></p>
		