<img  src="asa_logo.png" alt="URI ASA Logo; red paper lantern with the letters ASA beneath it and Asian Student Association" style="width:125px;height:100px;"> <h1 class="color">URI Asian Student Association</h1> 
		
			<h3>Muspcal Chairs!</h3>
		<br>
		<div class="gallery">
			
		    <img src="musical_chairs1.png" alt="Musical chairs" width="400" height="300"> 
		    
		</div>
		<div class="gallery">
		    <img src="musical_chairs2.png" alt="Musical chairs" width="400" height="300"> 
		</div>
		<div class="gallery">
		    <img src="musical_chairs3.png" alt="Musical chairs" width="400" height="300"> 
		</div>
		<div class="gallery">
		    <img src="musical_chairs4.png" alt="Musical chairs" width="400" height="300"> 
		</div>

	
		
		   <div class ="footer">
			   <p>Website created by Marie Mellor; URI Class of 2023 <br>
			   	<a href="mailto:marie_mellor@uri.edu">marie_mellor@uri.edu</a>
				</p>
			</div>
        <p id="club"></p>